.main-header {
  display: flex;
  align-items: center;
  gap: 24px;

  .controll-btn {
    display: flex;
    align-items: center;
    gap: 24px;

    svg {
      width: 34px;
      height: 34px;
      cursor: pointer;
    }
    .container-lang {
      position: relative;
      .hidden-container-lang-wrapper {
        position: absolute;
        left: -18px;
        background: #fff;
        padding: 10px 0;
        border: 2.5px solid #0126E5;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        z-index: 3;
        p {
          padding: 5px 18px;
          cursor: pointer;
          transition: all .3s ease;
          &:hover {
            background: #0126E5;
            color: #fff;
          }
        }
      }
    }
  }

  .container-profile-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;

    .image-profile {
      img {
        width: 47px;
        height: 47px;
        border-radius: 5px;
        object-fit: cover;
      }
    }

    .content-profile {
      cursor: pointer;

      h3 {
        color: #242121;
        font-size: 10.515px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      p {
        color: #242121;

        font-size: 14.586px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }

  .logo-wrapper {
    max-width: 70%;
    width: 100%;
  }

  .logo-container {
    max-width: 316px;
    width: 100%;
    height: 75px;

    svg {
      width: 100% !important;
      height: 100% !important;
    }
  }

}